In [1]:

n=float(input("enter the number by user"))
if n>=10:
        print("valid number")
else:
        print("not valid number")

enter the number by user 5

not valid number

In [26]:
n=int(input("enter the number"))
if n>0:
    print("+ve number")
if n<0:
    print("-ve number")
if n==0:
    print("number is zero")

enter the number 0

number is zero

In [34]:
# check even/odd number
n=int(input("enter the number by use"))
if n%2==0:
    print("even number")
else:
    print("odd number")

enter the number by use 1

odd number

In [42]:
# check leap year
leap_year=int(input("enter the year by user"))
if leap_year%4==0:
    print("it is a leap year")
else:
    print("it is not a leap year")

enter the year by user 2024

it is a leap year

In [41]:
# check elligibililty for vote 
a=int(input("enter the age of person"))
if a>=18:
    print("elligible for vote")
else:
    print("not elligible for vote")

enter the age of person 66

elligible for vote

In [50]:
# if elif else example 
day=int(input("ENTER THE DAY BY USER"))
if day==1:
   print("sun")
elif day==3:
   print("sat")
elif day==7:
   print("tue")
elif day==6:
   print("wed")
else:
   print("not choice")

ENTER THE DAY BY USER 3

sat

In [65]:
# check division by percentage of student 
a=float(input("enter the marks of student"))
b=float(input("enter the marks of student"))
c=float(input("enter the marks of student"))
d=float(input("enter the marks of student"))
s=a+b+c+d
per=s*100/400
print(per)
if per>=60:
    print("first")
elif per>=30:
    print("second")
elif per>=20:
    print("third")
else:
    print("fail")

enter the marks of student 20
enter the marks of student 20
enter the marks of student 20.5
enter the marks of student 20.5

20.25
third

In [4]:
a=int(input("enter the value"))
b=int(input("enter the value"))
c=int(input("enter the number"))
if a>b and a>c:
    print("a is greater")
elif b>a and b>c:
    print("b is greater")
else:
    print("c is greater")

enter the value 8
enter the value 6
enter the number 4

a is greater

In [48]:
#check vowel or consonant
ch=(input("enter an alphabet without space"))
if ch=='a'or ch=='e'or ch=='i'or ch=='o'or ch=='u':
    print("vowel")
elif ch=='A'or ch=='E'or ch=='I' or ch=='O' or ch=='U':
    print("vowe")
else:
    print("consonant")

enter an alphabet without space h

consonant

###### mini calculator
a=int (input("enter the number"))
b=int (input ("enter the number"))
choice=int(input("enter the number from above"))
if choice==1:
           print("sum",a+b)
elif choice==2:
     print("sub",a-b)
elif choice==3:
     print("mul",a*b)
elif choice==4:
    print("div",a/b)
else:
    print ("invalid")

In [67]:
#nested if
a=int(input(" enter the number"))
b=int(input("enter the number "))
c=int(input("enter the number "))
if a>b:
    if a>c:
        print("a is greater")
    else:
        print("c is greater")

 enter the number 9
enter the number  0
enter the number  6

a is greater

In [1]:
# print your name
a=1
while a<=20:
    print("anurag",a)
    a+=1

anurag 1
anurag 2
anurag 3
anurag 4
anurag 5
anurag 6
anurag 7
anurag 8
anurag 9
anurag 10
anurag 11
anurag 12
anurag 13
anurag 14
anurag 15
anurag 16
anurag 17
anurag 18
anurag 19
anurag 20

In [84]:
# print first 10 natural number 
a=1
while a<=10:
    print(a,"  =          anuarg                   , "  )        
    a=a+1

1   =          anuarg                   ,
2   =          anuarg                   ,
3   =          anuarg                   ,
4   =          anuarg                   ,
5   =          anuarg                   ,
6   =          anuarg                   ,
7   =          anuarg                   ,
8   =          anuarg                   ,
9   =          anuarg                   ,
10   =          anuarg                   ,

In [73]:
# sum of first natural number
#s=s+i
#s=0+1=1
#s=1+2=3
#s=3+3=6
#s=6+4=10
#s=10+5=15
#s=15+6=21
#s=21+7=28
#s=28+8=36
#s=36+9=45
#s=45+10=55
i=1
s=0
while i<=5:
    
    s=s+i
    i+=1
print("sum is ",s)

sum is  15

In [6]:
#print first n even number
n=int(input("enter the stop value"))
i=1
while i<=n:
    if i%2==1:
        print("odd number")
        break
    else: 
        print("even number")

    i=i+1

enter the stop value 88

odd number

In [7]:
n=int(input("enter the stop value"))
i=1
se=0
so=0
while i<=n:
    if i%2==0:
       se=se+i
    else:
        so=so+i
    i=i+1
print("sum of even numbr is ",se)
print("sum of odd number is",so)

enter the stop value 6

sum of even numbr is  12
sum of odd number is 9

In [75]:
#factorial of a given number
#while loop statement
n=int(input("enter the numeber"))
f=1
while n>0:
    f=f*n
    n=n-1
print("the factorial is ",f)

enter the numeber 7

the factorial is  5040

In [8]:
#factor or divisior of given number
#24---1 2 3 4 6 8 12 24
#i=1
n=int(input("enter the number"))
for i in range (1,n+1):
    if n%i!=0:
      print(i,end=" ")

enter the number 24

5 7 9 10 11 13 14 15 16 17 18 19 20 21 22 23

In [1]:
#prime number (divisible 1 and itself)
i=1
n=10#int(input("enter the value"))
co=0
while i<=n:
    if n%i==0:
        co=co+1
    i=i+1
if co==2:
    print("prime number")
else:
    print("not a prime number")

not a prime number

In [3]:
# table of a given number 
i=1
n=int(input("enter the number"))
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

enter the number 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [14]:
#sum of  digit of a number 
#7895--7+8+9+5
#n=7895
#rem=n%10
#s+rem
#n=n//10
#rem=5
#s=0+5=5
#n=789
#rem=9
#s=5+9=14
#n=78
#rem=8
#s=14+8=22
#n=7
n=int(input("enter the number"))
s=0
while n>0:
    rem=n%10
    s=s+rem
    n=n//10
print("the sum of digit is ",s)

enter the number 777

the sum of digit is  21

In [2]:
#reverse of the number
#n=72
#rem=2
#
n=int(input("enter the number"))
rev=0
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
print("the reverse is",rev)

enter the number 345

the reverse is 543

In [4]:
#pallendrome number
n=int(input("enter the number"))
rev=0
n1=n
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
if n1==rev:
    print("pallendrome number")
else:
    print("not pallendrome number")

enter the number 234

not pallendrome number

In [3]:
#for loop
#-------------
for i in "Anurag":
    print(i,end=' ')

A n u r a g

In [11]:
ls=[12,23,34,44,55,66,]
for i in ls:
    print(i)

12
23
34
44
55
66

In [20]:
for i in "Tiruvantampuram":
    if i in ['a','e','i','o','u']:
       print(i)

i
u
a
a
u
a

In [23]:
vowel=['a','e','i','o','u']
for i in "examination":
    if i in vowel:
        print(i)

e
a
i
a
i
o

In [24]:
#range

#range(1,10)  1--9
#range(1,100,3)  1---4---7--10---99
#range(start ,end , step)

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [26]:
for i in range(1,100,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97

In [28]:
for i in range(10):
    print("anurqag")

anurqag
anurqag
anurqag
anurqag
anurqag
anurqag
anurqag
anurqag
anurqag
anurqag

In [98]:
#print only even numbers from 1--100
for even in range(1,100):
    if even%2==0:
        print(even,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [100]:
#table of a given number 
n=int(input("enter the number"))
for i in range(1,11):
    print(n*i)

enter the number 3

3
6
9
12
15
18
21
24
27
30

In [33]:
#prime factor of given number
n=int(input("enter the number"))
for i in range(1,n+1):
    if n%i==0:
        print(i,end=" ")

enter the number 44

1 2 4 11 22 44

In [34]:
#factorial  f=1*7,7*6,42*5,
n=int(input("enter the number"))
f=1
for i in range(n,0,-1):
    f=f*i
    print("the factorial is ",f)

enter the number 7

the factorial is  7
the factorial is  42
the factorial is  210
the factorial is  840
the factorial is  2520
the factorial is  5040
the factorial is  5040

In [2]:
#mini calculator
choice=int(input("enter the number from above"))
b=int(input ("enter the number")) 
a=int(input("enter the number from above"))
if choice==1:
    print("sum",a+b) 
elif choice==2: 
    print("sub",a-b)
elif choice==3: 
    print("mul",a*b) 
elif choice==4: 
    print("div",a/b) 
else: 
    print ("invalid")

enter the number from above 4
enter the number 50
enter the number from above 5

div 0.1