In [13]:
dict={
    "name": "anurag",
    "age":  34,
    "marks":[33,334,55,]
    
}

print(type(dict))
print(dict)
#print(dict["age"])

<class 'dict'>
{'name': 'anurag', 'age': 34, 'marks': [33, 334, 55]}

In [6]:
collection={1,3,6,4,4,4,7,'hello','world','hello'}
print(collection)
print(type(collection))
print(len(collection))

{1, 3, 4, 'world', 6, 7, 'hello'}
<class 'set'>
7

In [16]:
#create empty set
collection=set()
collection.add(2)
collection.add((1,2,2,3,4,))
print(collection)
collection.clear()
print(type(collection))
print(len(collection))

{2, (1, 2, 2, 3, 4)}
<class 'set'>
0

In [8]:
#create empty dictionary
#collection={}
#print(type(collection))

<class 'dict'>

In [22]:
info2={
    "usa":"washington DC",
    "INDIA":"NEW DELHI",
}
print(info2)
print(type(info2))

{'usa': 'washington DC', 'INDIA': 'NEW DELHI'}
<class 'dict'>

In [15]:
nunname={ 1:4,2:"two",3:"three",}
print(nunname)

{1: 4, 2: 'two', 3: 'three'}

In [5]:
numdict=dict(I="one",II="two",III="three")
print((numdict))

{'I': 'one', 'II': 'two', 'III': 'three'}

In [18]:
numname={1:"one",2:"two",3:"three"}
print(numname[2])

two

In [19]:
numname={1:"one",2:"two",3:"three"}
print(numname.get(4))

None

In [20]:
capital={"usa":"washington dc","france":"paris","india":"new delhi"}
print(capital.keys())
#for i in capital.items():
   # print(i,j,end=" ")

dict_keys(['usa', 'france', 'india'])

In [21]:
capital={"usa":"washington dc","france":"paris","india":"new delhi"}
print(capital.values())

dict_values(['washington dc', 'paris', 'new delhi'])

In [22]:
capital={"usa":"washington dc","france":"paris","india":"new delhi"}
print(capital.items())

dict_items([('usa', 'washington dc'), ('france', 'paris'), ('india', 'new delhi')])

In [23]:
captain={"england":"root","australia":"smith","india":"dhoni"}
print(captain)
captain['india']='virat'
captain['australia']='paine'
print(captain)

{'england': 'root', 'australia': 'smith', 'india': 'dhoni'}
{'england': 'root', 'australia': 'paine', 'india': 'virat'}

In [24]:
captain={"england":"root","india":"dhoni"}
print(captain)
captain['india']='virat'
captain['australia']='paine'
print(captain)

{'england': 'root', 'india': 'dhoni'}
{'england': 'root', 'india': 'virat', 'australia': 'paine'}

In [4]:
captains={'australia':'paine','india':'new delhi','srilaka':'jayasurya'}
print(captains)
del captains['australia']
print(captains)
del captains
print(captains)

{'australia': 'paine', 'india': 'new delhi', 'srilaka': 'jayasurya'}
{'india': 'new delhi', 'srilaka': 'jayasurya'}

NameError: name 'captains' is not defined

In [4]:
# del method 
captains={'australia':'paine','india':'new delhi','srilaka':'jayasurya'}
print(captains)
del captains['australia']
print(captains)

{'australia': 'paine', 'india': 'new delhi', 'srilaka': 'jayasurya'}
{'india': 'new delhi', 'srilaka': 'jayasurya'}

In [11]:
# multi-dimensional dictionary
d1={'name':'anurag','age':25,'marks':80}
d2={'name':'anil','age':23,'marks':90}
d3={'name':'abhishek','age':27,'marks':95}
students={1:d1,2:d2,3:d3}
print(d1,d2,d3)
print(students)

{'name': 'anurag', 'age': 25, 'marks': 80} {'name': 'anil', 'age': 23, 'marks': 90} {'name': 'abhishek', 'age': 27, 'marks': 95}
{1: {'name': 'anurag', 'age': 25, 'marks': 80}, 2: {'name': 'anil', 'age': 23, 'marks': 90}, 3: {'name': 'abhishek', 'age': 27, 'marks': 95}}

In [6]:
print(students[1])

NameError: name 'students' is not defined

In [8]:
d1={'name':'anurag','age':25,'marks':80}
print(d1)

{'name': 'anurag', 'age': 25, 'marks': 80}

In [9]:
d1.clear()

In [10]:
print(d1)

{}

In [14]:
#copy method
anurag={'I':1,'II':2,'III':3,'IV':4,'V':5}
newanurag=anurag.copy()
del anurag['IV']
print(anurag)

{'I': 1, 'II': 2, 'III': 3, 'V': 5}

In [15]:
#fromkeys method
keys={'mumbai','banglore','kolkata','lucknow'}
value='city'
keys2=dict.fromkeys(keys, value)
print(keys2)

{'kolkata': 'city', 'lucknow': 'city', 'mumbai': 'city', 'banglore': 'city'}

In [17]:
keys={'mumbai','banglore','kolkata','lucknow'}
#value='city'
keys2=dict.fromkeys(keys)
print(keys2)

{'kolkata': None, 'lucknow': None, 'mumbai': None, 'banglore': None}

In [18]:
#items methods
anurag={'I':1,'II':2,'III':3}
anurag2=anurag.items()
print(anurag2)

dict_items([('I', 1), ('II', 2), ('III', 3)])

In [19]:
#keys method 
anurag={'I':1,'II':2,'III':3}
anurag2=anurag.keys()
print(anurag2)

dict_keys(['I', 'II', 'III'])

In [15]:
#copy method
anurag={'I':1,'II':2,'III':3,'IV':4,'V':5}
newanurag=anurag.copy()
print(anurag)
newanurag={"VI":6}
print(newanurag)

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
{'VI': 6}

In [23]:
#pop method
romannum={'I':1,'II':2,'III':3,'IV':4}
deletevalue=romannum.pop('IV')
print(deletevalue)
print("update dictionary ",romannum)

4
update dictionary  {'I': 1, 'II': 2, 'III': 3}

In [21]:
romannum={'I':1,'II':2,'III':3,'IV':4}
deletevalue=romannum.pop('V','not found')
print(deletevalue)
print("update dictionary ",romannum)

not found
update dictionary  {'I': 1, 'II': 2, 'III': 3, 'IV': 4}

In [31]:
romannum={'I':1,'II':2,'III':3,'IV':4}
romannum.popitem()
#print(deletevalue)
print("update dictionary ",romannum)

update dictionary  {'I': 1, 'II': 2, 'III': 3}

In [29]:
#popitem
romannum={'I':1,'II':2,'III':3,'IV':4}
romannum.popitem()
romannum.popitem()
romannum.popitem()
#print(deletevalue)
print("update dictionary ",romannum)

update dictionary  {'I': 1}

In [36]:
#update method

anurag={'V':1,'VI':2,'VII':3}
print(anurag)
anurag2={'I':1,'II':2,'III':3,'IV':4}
print(anurag2)
anurag.update(anurag2)
print(anurag)

{'V': 1, 'VI': 2, 'VII': 3}
{'I': 1, 'II': 2, 'III': 3, 'IV': 4}
{'V': 1, 'VI': 2, 'VII': 3, 'I': 1, 'II': 2, 'III': 3, 'IV': 4}

In [37]:
#dictionary value
anurag={'V':1,'VI':2,'VII':3}
values=anurag.values()
print(values)

dict_values([1, 2, 3])

In [2]:
anurag={'age':2}
print(anurag)

{'age': 2}

In [6]:
D1={"a":50,"b":50}
d2={"a":500,"b":50}
print(d1>d2)

NameError: name 'd1' is not defined

In [7]:
A={1:"one",2:"two",3:"three"}
print(A[2]+A[1])

twoone

In [9]:
A={1:"one",2:"two",3:"three"}
print("one"in A)

False

In [11]:
A={1:"one",2:"two",3:"three"}
print(1 in A)

True

In [12]:
A{"A":"Apple","B":"Ball","C":"Cat"}
print(A in A)

SyntaxError: invalid syntax (3779314788.py, line 1)

In [16]:
D={1:'amit',2:'suman',3:'ravi'}
print(list(D))

[1, 2, 3]

In [17]:
D={1:['anil',23,21],2['suman',244,55],3:'ravi'4:'anurag'}
#m=D.get[2]
print(m[2])

SyntaxError: ':' expected after dictionary key (3779850845.py, line 1)

In [20]:
D={1:['amit',23,21],2:['suman',45,34],3:'ravi',4:'anurag'}
print("amit"in D)

False