# ................................DEFINING THE FUNCTIONS..........................

In [1]:
def datascience(a,b,c,d,e):
    return(a+b,a*b)
result=datascience(2,4,5,6,7)
print(result)

(6, 8)

In [11]:
datascience(2,7,8,9,4)

(9, 14)

In [7]:

def sums(r,t,u):
    return(r+t+u)


jatin=sums(787,32883,23887)
print(jatin)

57557

In [12]:
def sum(a,b,c):
    return(a+b+c)
results=sums(24,57,4)
print(results)

85

In [9]:
def hello(a,b):
    return("my name is {} and gender is {}".format(a,b))

In [10]:
a=hello("charles","anura")
print(a)

my name is charles and gender is anura

In [14]:
def add(a,b):
    return a+b
add2=add(1000,2000)
print(add2)

3000

In [15]:
def add(a,b=100):
    return(a+b)
add2=add(500)
print(add2)

600

In [23]:
def addition(a,b=700,c=600):
    return a+b+c
result1=addition(300)
result2=addition(a=400,c=500)
result3=addition(100,2000,3000)
print(result1,"\n",result2,"\n",result3)

1600
 1600
 5100

In [13]:
def add(a,b=100):
    return(a+b)
sum3=add(1000)
print(sum3)

1100

In [13]:
def hello(name,age=29,gender="male"):
    return("my name is {} and age is {} and gender is {}".format(name,age,gender))

In [14]:
D=hello("eshank")
print(D)

my name is eshank and age is 29 and gender is male

In [ ]:
#-----------------------------------------   ORDERING -------------------------------------
# you have to bear in mind that order counts. 
# Just as non-default arguments have to precede default arguments, so *args must come before **kwargs
# To recap, the correct order for your parameters is:

In [ ]:

1-Standard arguments
2-args arguments( positional argument)
3-Default argument
3-kwargs arguments ( keyword argument)
4-*args
5-**kwargs

In [16]:

#--------------------------------------------EXAMPLE----------------------------------------
def my_function(a,b, c=1000):
    return (a+b-c)
anurag=my_function(100,200)
print(anurag)

-700

In [6]:
def my_function(a, b=100,c):
    return ( a+b+c)
anurag2=my_function(a=200,400,c=800)
print(anurag2)

SyntaxError: non-default argument follows default argument (3239646609.py, line 1)

# #...............................FORMAT OF args,kwargs ............................................

1)unpacking operators are operators that unpack the values from iterable objects in Python.

2)The single asterisk operator * can be used on any iterable that Python provides,

3)while the double asterisk operator ** can only be used on dictionaries.

In [32]:
u = [1, 2, 3]

In [33]:
u

[1, 2, 3]

In [34]:
print(*u)

1 2 3

In [11]:
a,*b,c=[1,2,3,2,3,4,5,6,78,63,4]

In [12]:
a

1

In [13]:
c

4

In [14]:
b

[2, 3, 2, 3, 4, 5, 6, 78, 63]

In [4]:
#-----------MEANING OF *args( POSITIONAL ARGUMENT :- to unpack iterables)----------



A=[1,2,3]
B=[4,5,6]
C=[A,B]
C

[[1, 2, 3], [4, 5, 6]]

In [5]:
D=[*A,*B]    
D

[1, 2, 3, 4, 5, 6]

In [17]:
a=[*"realpython"]
a

['r', 'e', 'a', 'l', 'p', 'y', 't', 'h', 'o', 'n']

In [18]:
d1={"A":1,"B":2}

d2={"C":3,"D":4,"F":7}

In [19]:
d1.update(d2)

In [20]:
d1

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'F': 7}

In [19]:
#----------------------MEANING OF **kwargs (KEYWORD ARGUMENT:- to unpack dictionaries)-------------------------
d1= {"A": 1, "B": 2}
d2 = {"C": 38, "D": 4,"E":6}
d3= {**d1,**d2}    
d3

{'A': 1, 'B': 2, 'C': 38, 'D': 4, 'E': 6}

we can also use this method to call our own functions, but if our function requires a specific number of arguments, 
then the iterable we unpack must have the same number of arguments.

In [59]:

def my_sum(a,b,c,d,e):
    return(a+b+c+d+e)

In [60]:
mylist=[1,2,3,4,5]

In [62]:
my_sum(*mylist)

15

In [86]:


def even_odd(a):
    b=[]
    for i in a:
        if i%2==0:
            b.append(i)  
    return(b)

In [87]:
a=[1,2,3,4,55,6,4,3,4,56,2,3,4]

In [88]:
even_odd(a)

[2, 4, 6, 4, 4, 56, 2, 4]

In [ ]:
mylist = [1, 2, 3,6,7]



my_sum(*mylist)

In [89]:
a

[1, 2, 3, 4, 55, 6, 4, 3, 4, 56, 2, 3, 4]

In [23]:


def my_sum(*a):
    result = 0
    for i in a:
        result += i
    return result

In [24]:

list1 = [1, 2, 3]
list2 = [4, 5]
list3 = [6, 7, 8, 9]

my_sum(*list1,*list2,*list3)

45

In [92]:

#................................................  PRINT VS RETURN  ...........................................

# print function doesnot return any value but RETURN function will rreturn the value.
# RETURN function does not run iteratively, but print does
num=[1,2,3,4,5,6]

for i in num:
    if i%2==0:
        print(i)

2
4
6

In [80]:
b=[1,2,3,4,5,6]
a=[]
for i in num:
    if i%2==0:
        a.append(i)

In [106]:
ayesha=[1,3,5,6,3,7,3,22,44,66]

In [107]:
e=even(ayesha)

In [108]:
e

[6, 22, 44, 66]

In [116]:
prashant=[2,3,4,5,6,1,1,1,3,2,4,3,7,8,9,23,6565,3272366,4423,44]

In [123]:
def even_odd(devang):
    
    for i in devang:
        if i%2==0:
            
            print("even",i)
            
        else:
            print("odd",i)

In [129]:
num=[]
for j in range(10):
    a=int(input("enter your number"))
    num.append(a)
else:    

    def even (num):
        e=[]
        for i in num:
            if i%2==0:
                e.append(i)
        return(e)

enter your number5
enter your number6
enter your number7
enter your number1
enter your number8
enter your number3
enter your number4
enter your number9
enter your number11
enter your number13

In [130]:
even(num)

[6, 8, 4]

In [96]:
e=[]
o=[]
def even_odd(num):
    for i in num:
        if i%2==0:
          e.append(i)
        else:
            o.append(i)
    return(e,o)
        
l=[1,2,3,4,5,6,7]          
even_odd(l)

([2, 4, 6], [1, 3, 5, 7])

In [99]:
def even_sum(num):
    sum=0
    q=[]
    
    for i in num:
        if i%2==0:
            sum+=i
            q.append(i)
    
    return(q,sum)

In [101]:

l=[10,20,21,13,17,19]          
even_sum(l)

([10, 20], 30)

In [103]:
lst=[1,2,3,4,5,6,9,12,31,34,51,56]  # global variable
def sumevenodd(lst):
    even_sum=0  # local variable
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
            print(i,"=","EVEN",":","CUMSUM",even_sum)
        else:
            odd_sum=odd_sum+i
            print(i,"=","ODD",":","CUMSUM",odd_sum)
f=sumevenodd(lst)

1 = ODD : CUMSUM 1
2 = EVEN : CUMSUM 2
3 = ODD : CUMSUM 4
4 = EVEN : CUMSUM 6
5 = ODD : CUMSUM 9
6 = EVEN : CUMSUM 12
9 = ODD : CUMSUM 18
12 = EVEN : CUMSUM 24
31 = ODD : CUMSUM 49
34 = EVEN : CUMSUM 58
51 = ODD : CUMSUM 100
56 = EVEN : CUMSUM 114

In [104]:
f

In [105]:
 
def even_odd_sum(num):
    even=[]
    odd=[]
    even_sum=0
    odd_sum=0
    for i in num:
        if i%2==0:
            even.append(i)
            even_sum=even_sum+i
        else:
            odd.append(i)
            odd_sum=odd_sum+i
    return(even,even_sum,odd,odd_sum)
 

ert=even_odd_sum(lst)

ert

([2, 4, 6, 12, 34, 56], 114, [1, 3, 5, 9, 31, 51], 100)

In [106]:

def square (num):
    a=[]
    m=0
    for b in num:
        x=b**2
        a.append(x)
       
        for i in a:
            m=m+i    
    return(m)

50

In [107]:
def even(num):
    l=[]
    for i in num:
        if i %2==0:
            l.append(i)
    return(l)

In [108]:
even([1,2,3,4,43,363,5,6])

[2, 4, 6]

In [94]:
...................#




#----------------------------------------------------------------------------------------------------------------------#

SyntaxError: invalid syntax (<ipython-input-94-dba9c9ea5623>, line 24)

In [4]:
def prime(num):
    for i in range(2,num):
        if num % i== 0:
            print("not prime")
            break
    else:
        print("prime")

TypeError: prime() takes 1 positional argument but 2 were given

In [5]:
prime(6)

not prime

In [17]:
sums(1010.32993,3298328,24389)

3323727.32993

In [ ]:
def prime (a,b):
    result=[]
    for i in range(a,b):
        if i>1:
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                result.append(i)
    return(result)

a=prime(5,23)
a
a
#---------------------------------------------------------------------------------------------------------------------#

In [118]:
l=[1,2,4,5,2,5,6,7,8,7,5]


l.index(5)

3

In [119]:
def fun(a,b):
   c=[]
   for i in range(len(a)):
       if l[i]==b:
          c.append(i)
   return(c)

[3, 5, 10]

In [121]:
fun(l,1000)

[]

In [122]:
a=100

b=200

In [123]:
a

100

In [124]:
b

200

In [128]:
r=1000
def sums(num):
    w=0
    for i in num:
        w=w+i
    return(w)

In [129]:
sums([1,2,3,4,5,6])

21

In [131]:
r

1000

In [7]:
def anurag(a):
    return(a+10)
anurag(10)

20

In [8]:
x=lambda a: a+10
x(1000)

1010

In [10]:
def anurag(a,b,c):
    return (a+b+c)
x=anurag(3,5,6)
x

14

In [13]:
anurag=lambda z: z*2 if z%2==0 else z

In [14]:
anurag(4)

8